<h1>User Profile</h1>
<%= render 'shared/user', user: @user %>
<div>
    Bio: 
    <p>
        <%= @user.bio %>
    </p>
</div>
<% if @user.posts.any? %>
    <ul>
        <% @user.posts.each do |post| %>
            <li>
                <h2>Post #<%= post.id %></h2>
                <%= link_to post.title, user_post_path(@user, post) %>
                <%= render 'shared/count-likes-comments', post: post %>
            </li>
        <% end %>
    </ul>
<% end %>