<h1>User Posts</h1>
<%= render 'shared/user', user: @user %>
<% if @user.posts.any? %>
    <div>
        <% @user.posts.each do |post| %>
            <div class="border">
                <h2>Post #<%= post.id %></h2>
                <p><%= link_to post.title, user_post_path(@user, post) %></p>
                <p>
                    <%= post.text %>
                </p>
                <%= render 'shared/count-likes-comments', post: post %>
            </div>
            <%= render 'shared/five-recent-comments', comments: post.five_most_recent_comments %>
        <% end %>
    </div>
    <% else %>
    <p>
        No posts yet.
    </p>
<% end %>
<%= link_to "Add new Post", new_user_post_path(@user) %>